<li class="<%= data[:active_class] %>">
  <a href="<%= data[:url] %>" data-action="<%= data[:data][:action] %>" data-target="<%= data[:data][:target] %>" data-toggle="tab"><%= data[:title] %></a>
</li>