<div class="page" xmlns="http://www.w3.org/1999/html">
  <div class="row-fluid">
    <aside id ="sideNav" class="span4">
    <div class="box">
      <div class="user-info">
        <div class="avatar">
          <%= image_tag "avatar.png" %>
        </div>
        <div class="detail">
          <div class="name elp">
            <h4 class="ui-inline-text">Paul Aden Smith alonso</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="box box-lead">
      <header>
        <h5><i class="icon-users"></i> <span class="label label-success pull-right">20</span> People</h5>
      </header>
      <ul class="member-list">
        <li>
          <a>
            <div class="avatar">
              <%= image_tag "avatar.png" %>
            </div>
            <div class="user-info">
              <h6 class="light-header">User Name</h6>
            </div>

            <div class="toolBar">
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="avatar">
              <%= image_tag "avatar.png" %>
            </div>
            <div class="user-info">
              <h6 class="light-header">User Name</h6>
            </div>

            <div class="toolBar">
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="avatar">
              <%= image_tag "avatar.png" %>
            </div>
            <div class="user-info">
              <h6 class="light-header">User Name</h6>
            </div>

            <div class="toolBar">
            </div>
          </a>
        </li>
      </ul>
    </div>
  </aside>
    <div class="main span8">
      <div class="breadcrumb-wrap box">
        <div class="banner">
          <img src="/assets/image_4.jpg"/>
        </div>
        <ul class="breadcrumb pull-left">
          <li><a href="#">Home</a> <span class="divider">/</span></li>
          <li><a href="#">Library</a> <span class="divider">/</span></li>
          <li class="active">Data</li>
        </ul>
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <a class="btn btn-metro dropdown-toggle" data-toggle="dropdown" href="#">
              Edit
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
          <div class="btn-group">
            <a class="btn btn-metro dropdown-toggle" data-toggle="dropdown" href="#">
              Build Audience
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
          <div class="btn-group">
            <a class="btn btn-metro dropdown-toggle" data-toggle="dropdown" href="#">
              Manage
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
         </div>
        <div class="clearfix"></div>
      </div>
      <div id="group" class="box">


        <header>
          <h5><i class="icon-users"></i> Group Top Up</h5>
        </header>
        <form class="group-topup-form clearfix">
          <div class="message-box clearfix control-group">
            <label class="control-label" for="inputPassword"><i class="icon-envelope-alt"></i> Message</label>
            <span class="counter-box">160</span>
            <div class="input-wrap message-box">
              <div class="controls input_padding_extra ">
                <textarea class="input"></textarea>
              </div>
            </div>
          </div>
          <div class="top-btn-container  row-fluid" style="display:none;">
            <div class="custom-select-wrap input-prepend span6">
              <span class="add-on "><i class="icon-money"></i> Amount</span>
              <div class="custom-select-input-wrap">
                <select id="amountSelectGroup" class="span12">
                  <option>100</option>
                  <option>200</option>
                  <option>300</option>
                  <option>400</option>
                  <option>500</option>
                </select>
              </div>
            </div>

            <div class="span3">
              <div class="label total">Total 50000</div>
            </div>
            <div class="span3">
              <button class="btn btn-block btn-success">Top Up</button>
            </div>
          </div>
        </form>
        <div class="contactContent">
            <div class="top-btn-container row-fluid">
              <div class="custom-select-wrap input-prepend span6">
                <span class="add-on "><i class="icon-money"></i> Amount</span>
                <div class="custom-select-input-wrap">
                  <select id="amountSelectGroupx" class="amountSelectGroup span12">
                    <option>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option>400</option>
                    <option>500</option>
                  </select>
                </div>
              </div>

              <div class="span6">
                <button class="btn btn-block btn-success">Pay Total 50000 Now <i class="icon-arrow-right"></i></button>
              </div>
            </div>
        </div>
      </div>
      <div class="post ">
        <div class="box-shadow-bottom avatar">
          <%= image_tag "avatar.png" %>
        </div>
        <div class="box left_arrow post-box">
          <header class="post-title">
            <h6 class="light-header"><a>QwiQar</a> Topped up all group members with <strong>$50000</strong></h6>
            <div class="meta"><i class="icon-time"></i> <span class="time"><strong>23rd march, 2013</strong></span>  |  <span class="comment-highlight"><span class="label label-success"></span> <i class="icon-comments"></i> </span><strong>10</strong> comments</span> </div>
          </header>
          <div class="message">
            <p>Dropdown menus can also be toggled from the bottom up by adding a single class to the immediate parent of .dropdown-menu. It will flip the direction of the .caret and reposition the menu itself to move from the bottom up instead of top down</p>
          </div>
          <div class="comment-block">
            <div class="comment">
              <div class="avatar">
                <%= image_tag "avatar.png" %>
              </div>
              <div class="comment-message">
                <p class="letterPressed"><strong><a>Paul</a> &raquo; </strong> Dropdown menus can also be toggled from the bottom up by adding a single class to the immediate </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="comment">
              <div class="avatar">
                <%= image_tag "avatar.png" %>
              </div>
              <div class="comment-message">
                <p class="letterPressed"><strong><a>Paul</a> &raquo; </strong> Dropdown menus can also be toggled from the bottom up by adding a single class to the immediate </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="post ">
        <div class="box-shadow-bottom avatar">
          <%= image_tag "avatar.png" %>
        </div>
        <div class="box left_arrow post-box">
          <header class="post-title">
            <h6 class="light-header"><a>QwiQar</a> Topped up all group members with <strong>$50000</strong></h6>
            <div class="meta">on <span class="time"><strong>23rd march, 2013</strong></span>  |  <span class="comment-highlight"><span class="label label-success"></span> <i class="icon-comments"></i> </span><strong>10</strong> comments</span> </div>
          </header>
          <div class="message">
            <p>Dropdown menus can also be toggled from the bottom up by adding a single class to the immediate parent of .dropdown-menu. It will flip the direction of the .caret and reposition the menu itself to move from the bottom up instead of top down</p>
          </div>
          <div class="comment-block">
            <div class="comment">
              <div class="avatar">
                <%= image_tag "avatar.png" %>
              </div>
              <div class="comment-message">
                <p class="letterPressed"><strong><a>Paul</a> &raquo; </strong> Dropdown menus can also be toggled from the bottom up by adding a single class to the immediate </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="comment">
              <div class="avatar">
                <%= image_tag "avatar.png" %>
              </div>
              <div class="comment-message">
                <p class="letterPressed"><strong><a>Paul</a> &raquo; </strong> Dropdown menus can also be toggled from the bottom up by adding a single class to the immediate </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>