<div class="page">
  <div class="row-fluid">
    <%= currently_at_side_nav 'People' %>
    <div class="main span8">
      <div id="people" class="box">
        <div class="tab-host clearfix">
        <%= currently_at_people_nav 'Contacts' %>
        <div class="tool-buttons pull-right">
          <div class="btn-group">
            <a href="#contactModal" role="button" data-toggle="modal" class="btn btn-right zero-radius"><i class="icon-plus"></i> new contact</a>
            <a href="#contactModal" role="button" data-toggle="modal" class="btn btn-right zero-radius"><i class="icon-plus"></i> new group</a>
          </div>
          </div>
        </div>
        <div class="tab-body">
          <div id="allContacts" class="tab-pane">
            <div class="search-container">
              <%= form_tag(search_user_contacts_url(current_user), :method => "get",:class=>"search-form row-fluid") do %>
                  <div class="control-group">
                    <div class="controls input_padding_extra ">
                      <span class="tool-button"><i class="icon-search"></i></span>
                      <input type="text" id="q" name="q" class="search typeahead span12"  placeholder="Type a contact name">
                      <div class="tool-buttons">
                       </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <div class="contacts">
            <div class="list-container">
              <ul class="thumbnails items"></ul>
              <div class="load"></div>
            </div>
            </div>
            <div class="search-results">
            <div class=" list-container hide">
              <ul class="thumbnails items"></ul>
              <div class="load"></div>
            </div>
              </div>
            <div class="modal hide" id="newContactDialog" role="dialog" aria-labelledby="contactPicker" aria-hidden="true">
              <div class="modal-header">
                <div class="inner">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <div class="contactHeader">
                  </div>
                </div>
                <div class="shadow-bottom-wrap">
                  <div class="shadow-top"></div>
                </div>
                <div class="toast">

                </div>
              </div>
              <div class="content modal-body override">
              </div>
              <div class="modal-footer">
                <div class="btns">
                </div>
                <div class="shadow-top-wrap">
                  <div class="shadow-bottom"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="groupContacts" class="tab-pane">
            <div class="search-container">
              <form class="search-form row-fluid">
                <div class="control-group">
                  <div class="controls input_padding_extra ">
                    <a  role="button" data-toggle="modal" class="tool-button"><i class="icon-search"></i></a>
                    <input type="text" class="span12"  placeholder="Type a contact name">
                    <div class="tool-buttons">
                      <a href="#groupModal" role="button" data-toggle="modal" class="btn btn-right zero-radius"><i class="icon-plus"></i> new group</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <ul class="thumbnails items">
              <li class="item">
                <a href="#contactModal" data-toggle="modal" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Onyemaechi Okafor </h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Onyemaechi Okafor</h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Peter Sise</h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Paul Smith</h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_contents do %>
    <%= javascript_include_tag "people" %>
<% end %>

<script id="delete-confirmation-tmpl" type="text/x-jquery-tmpl">
  <div class="btns">
    <button class="btn yes" type="button" data-loading-text="deleting..." >yes</button>
    <button class="btn no" type="button" >No</button>
  </div>
</script>

<script id="modal-progress-tmpl" type="text/x-jquery-tmpl">
  <div class="modal-progress">
    <div class="spinner">
    </div>
  </div>
</script>

<script id="spinner-tmpl" type="text/x-jquery-tmpl">
    <div class="progress-wrap">
        <div class="spinner">
    </div>
  </div>
</script>

<script id="modal-close-tmpl" type="text/x-jquery-tmpl">
    <button class="btn" type="button" data-dismiss="modal"><i class="icon-remove"></i> close</button>
</script>

<script id="modal-error-tmpl" type="text/x-jquery-tmpl">
  <div class="modal-error">
    <div class="alert alert-error">
      {{html message}}
    </div>
  </div>
</script>

<script id="modal-header-contact-tmpl" type="text/x-jquery-tmpl">
    <div class="icon">
    <i class="icon-user"></i>
  </div>
  <div class="info">
    <h3>Contact</h3>
  </div>
</script>

<script id="modal-header-contact-new-tmpl" type="text/x-jquery-tmpl">
  <div class="icon">
    <i class="icon-user-add"></i>
  </div>
  <div class="info">
    <h3>New Contact</h3>
  </div>
</script>

<script id="modal-header-contact-edit-tmpl" type="text/x-jquery-tmpl">
  <div class="icon">
    <i class="icon-edit"></i>
  </div>
  <div class="info">
    <h3>Edit Contact</h3>
  </div>
</script>

<script id="modal-error-tmpl" type="text/x-jquery-tmpl">
  <div class="modal-error">
    <div class="alert alert-error">
      {{html message}}
    </div>
  </div>
</script>

<script id="contact-search-tmpl" type="text/x-jquery-tmpl">
  <div>
    <div class="inner clearfix">
      <div class="avatar small">
        <img src="${photo_url}"/>
      </div>
      <div class="user-info">
        <h6 class="light-header">${name}</h6>
        <p><i class="icon-phone"></i> ${phone_number.number}</p>
      </div>
    </div>
  </div>
</script>

<script id="tool-buttons-search-tmpl" type="text/x-jquery-tmpl">
  {{if search}}
  <button role="button"  class="btn cancel btn-right zero-radius"><i class="icon-remove"></i> cancel</button>
  {{/if}}
</script>

<div class="modal hide" id="groupModal" role="dialog" aria-labelledby="contactPicker" aria-hidden="true">
  <div class="modal-header">
    <div class="inner">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="contactHeader">
        <div class="icon">
          <i class="icon-users"></i>
        </div>
        <div class="info indent">
          <h3>New Group</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="content modal-body override">
    <form class="overrideContact wrap">
      <div class="row-fluid">
        <div class="control-group">
          <div class="controls input_padding_extra ">
            <label class="control-label" for="inputEmail">Name</label>
            <input type="password" class="span12" id="inputSearchContact" placeholder="Type a contact name">
          </div>
        </div>
        <div class="dropBox">
          <div class="inner">
            <a id="pick" class="upload_btn  photo_chooser" >
              <span class="ui-btn-inner">
              <span class="ui-icon"><i class="icon-picture"></i></span>
                <span class="ui-text">Pick a photo or drag photo here</span>
              </span>
            </a>
          </div>
          <div class="photo-upload-progress">
            <span class="help-inline"><i class="icon-picture"></i> <span class="status">uploading 40%</span></span>
            <div class="progress progress-success progress-striped active">
              <div class="bar" style="width:40%"></div>
            </div>
          </div>
          <div class="photo-upload-error">
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <i class="icon-warning-sign"></i> <strong> Error occurred!</strong>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn rt" data-dismiss="modal" aria-hidden="true"><i class="icon-double-angle-right"></i></button>
    <button class="btn btn-primary"><i class="icon-ok"></i> Done</button>
    <div class="shadow-top-wrap">
      <div class="shadow-bottom"></div>
    </div>
  </div>
</div>
<div class="modal hide" id="contactModal" role="dialog" aria-labelledby="contactPicker" aria-hidden="true">
  <div class="modal-header">
    <div class="inner">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="contactHeader">
        <div class="icon">
          <div class="avatar">
            <%= image_tag "avatar.png" %>
          </div>
        </div>
        <div class="info indent">
          <h3>Paul Adeferati</h3>
          <p class="hint">08099447050</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content modal-body override">
    <form class="overrideContact wrap">
      <div class="row-fluid">

        <div class="message-box clearfix control-group">
          <label class="control-label" for="inputPassword"><i class="icon-envelope-alt"></i> Message</label>
          <span class="counter-box">160</span>
          <div class="input-wrap message-box">
            <div class="controls input_padding_extra ">
              <textarea class="input"></textarea>
            </div>
          </div>
        </div>
        <div class="custom-select-wrap input-prepend span12">
          <span class="add-on "><i class="icon-money"></i> Amount</span>
          <div class="custom-select-input-wrap">
            <select  class="amountSelect span12">
              <option>100</option>
              <option>200</option>
              <option>300</option>
              <option>400</option>
              <option>500</option>
            </select>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn rt" data-dismiss="modal" aria-hidden="true"><i class="icon-double-angle-right"></i></button>
    <button class="btn btn-primary"><i class="icon-ok"></i> Done</button>
    <div class="shadow-top-wrap">
      <div class="shadow-bottom"></div>
    </div>
  </div>
</div>
<div class="modal hide" id="contactPicker" role="dialog" aria-labelledby="contactPicker" aria-hidden="true">
  <div class="modal-header">
    <div class="inner">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="contactHeader">
        <div class="icon">
          <i class="icon-search"></i>
        </div>
        <div class="info">
          <h3>Find Contacts</h3>
          <div><button type="button" data-toggle="modal" data-target="#inviteModal" class="btn-metro btn btn-success"><i class="icon-plus"></i> Invite People</button></div>
        </div>
      </div>
    </div>

  </div>
  <div class="content modal-body">
    <div class="contactPickerWrap">
      <div class="contactPickerHeader">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#everyone" data-toggle="tab">Everyone</a>
          </li>
          <li>
            <a href="#groupTopUp" data-toggle="tab" >Facebook</a>
          </li>
          <li>
            <a href="#groupTopUp" data-toggle="tab" >Phone Contacts</a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div id="#everyone">
          <div class="search-container">
            <form class="search-form row-fluid">
              <div class="control-group">
                <div class="controls input_padding_extra ">
                  <a  role="button" data-toggle="modal" class="tool-button"><i class="icon-search"></i></a>
                  <input type="password" class="span12" id="inputSearchContact" placeholder="Type a contact name">
                </div>
              </div>
            </form>
          </div>
          <div class="contactContent padded">
            <ul class="thumbnails items">
              <li class="item">
                <a href="#contactModal" data-toggle="modal" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Paul Smith</h6>
                    <p><button type="button" class="zero-radius btn "><i class="icon-plus"></i> Add to Contacts</button></p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Onyemaechi Okafor</h6>
                    <p><button type="button" class="zero-radius btn "><i class="icon-plus"></i> Add to Contacts</button></p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Peter Sise</h6>
                    <p><button type="button" class="zero-radius btn "><i class="icon-plus"></i> Add to Contacts</button></p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Paul Smith</h6>
                    <p><button type="button" class="zero-radius btn "><i class="icon-plus"></i> Add to Contacts</button></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn rt" data-dismiss="modal" aria-hidden="true"><i class="icon-double-angle-right"></i></button>
    <button class="btn btn-primary"><i class="icon-ok"></i> Done</button>
    <div class="shadow-top-wrap">
      <div class="shadow-bottom"></div>
    </div>
  </div>
</div>
<div class="modal hide" id="inviteModal" role="dialog" aria-labelledby="contactPicker" aria-hidden="true">
  <div class="modal-header">
    <div class="inner">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="contactHeader">
        <div class="icon">
          <i class="icon-user-add"></i>
        </div>
        <div class="info">
          <h4>Invite People</h4>
        </div>
      </div>
    </div>

  </div>
  <div class="content modal-body">
    <div class="contactPickerWrap">
      <div class="contactPickerHeader">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#all" data-toggle="tab"><i class="icon-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="#groupTopUp" data-toggle="tab" ><i class="icon-gmail"></i> Gmail</a>
          </li>
          <li>
            <a href="#groupTopUp" data-toggle="tab" ><i class="icon-yahoo"></i> Yahoo</a>
          </li>
        </ul>
      </div>

      <div class="tab-body">
        <div id="#all">
          <div class="search-container">
            <form class="search-form row-fluid">
              <div class="control-group">
                <div class="controls input_padding_extra ">
                  <a  role="button" data-toggle="modal" class="tool-button"><i class="icon-search"></i></a>
                  <input type="password" class="span12" id="inputSearchContact" placeholder="Type a contact name">
                </div>
              </div>
            </form>
          </div>
          <div class="contactContent padded">
            <ul class="thumbnails items">
              <li class="item">
                <a href="#contactModal" data-toggle="modal" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Paul Smith</h6>
                    <p><button type="button" class="zero-radius btn ">invite</button></p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Onyemaechi Okafor</h6>
                    <p><button type="button" class="zero-radius btn ">invite</button></p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Peter Sise</h6>
                    <p><button type="button" class="zero-radius btn ">invite</button></p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Paul Smith</h6>
                    <p><button type="button" class="zero-radius btn ">invite</button></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn rt" data-dismiss="modal" aria-hidden="true"><i class="icon-double-angle-right"></i></button>
    <button class="btn btn-primary"><i class="icon-ok"></i> Done</button>
    <div class="shadow-top-wrap">
      <div class="shadow-bottom"></div>
    </div>
  </div>
</div>