<div class="cover">
    <section id="section1" class="box hero static">
      <div class="row-fluid">
        <div class="span6">
          <div class="heading lead-heading"><h1>Your Network Service Guide</h1></div>
          <div class="sub-heading"><p class="lead">Top up, share airtime, subscribe to data bundles and BIS, and many more</p></div>
          <div class="divider-horizontal"></div>
          <div class="row-fluid">
            <div class="centered">
              <%= image_tag "swift.png" %>
            </div>
            <div class="span6">
            <div class="">
              <h4>Quick and Easy</h4>
              <p class="">No USSD codes to remember or ask friends, simply touch and let <strong>QwiQar</strong> do it all for you</p></div>
            </div>
            <div class="centered">
              <%= image_tag "design.png" %>
            </div>
            <div class="span6 offset6">
              <div class="">
                <h4>Uniform User Interface</h4>
                <p class="">Gorgeously designed to have a uniform interface across all network service providers</p></div>
            </div>
          </div>

        </div>
        <div class="span6">
          <%= image_tag "Hardware-White.jpg" %>
          </div>
      </div>
       <div class="divider-horizontal"></div>
      <div class="row-fluid action app-buttons">
        <a class="">
          <%= image_tag "Buttons-05.png" %>
        </a>
        <a class="">
          <%= image_tag "Buttons-09.png" %>
        </a>
      </div>
    </section>

    <!-- Begin Overview -->
</div>