<div class="page">
<div class="row-fluid">
  <%= currently_at_side_nav 'History' %>
  <div class="main span8">
    <div id="history" class="box-full">
    <div class="tab-nav-container clearfix">
        <ul id="historyTabs" class="nav nav-tabs pull-left">
        <li class="active">
          <a href=""  data-target="#all" data-toggle="tab">All</a>
        </li>
        <li class="">
          <a href=""  data-target="#topUp" data-toggle="tab">Top Ups</a>
        </li>
        <li class="">
          <a href=""  data-target="#deposit" data-toggle="tab">Deposits</a>
        </li>
      </ul>
    </div>
    <div class="tab-body clearfix">
      <div id="all" class="history tab-pane ">
        <div class="tableContent">
          <div class="table-tool-bar">
            <%= search_form_for @search,url:search_user_orders_path(current_user), method: :post, id: "tableSearch",class:"option-form" do |f| %>
              <div class="main-control">
                <div class="custom-search controls">
                <div class="custom-search-input ">
                  <%= f.text_field(:transaction_id_eq, placeholder: "search",class: "search-btn",:id=>"search-btn") %>
                  <a class="custom-search-anchor"><i class="icon-caret-down"></i></a>
                  <div class="search-options">
                    <div class="field-wrap">
                      <div class="control-group">
                        <%= f.label(:created_at_gteq, "Start Date",class:"control-label")  %>
                        <div class="controls">
                          <%= f.text_field(:created_at_gteq,:placeholder=>format_date_a(Date.today),:class=>"datepicker span12 start_date input-medium",:data=>{:date=>"12-02-2012","date-format"=>"dd-mm-yyyy"}) %>
                        </div>
                      </div>
                      <div class="control-group clearfix">
                        <%= f.label(:created_at_lteq, "End Date",class:"control-label") %>
                        <div class="controls">
                          <%= f.text_field(:created_at_lteq,:placeholder=>format_date_a(Date.today),:class=>"datepicker span12 start_date input-medium",:data=>{:date=>"12-02-2012","date-format"=>"dd-mm-yyyy"}) %>
                        </div>
                      </div>
                      <div class="control-group clearfix">
                        <%= f.label(:payment_processor_id_eq, "Payment Gateway",class:"control-label") %>
                        <div class="controls">
                          <%= f.select(:payment_processor_id_eq, options_from_collection_for_select(PaymentProcessor.all, 'id', 'name'),:class=>"filter span12",:data=>{:class=>"filter span12"},:prompt=>"Select a Payment Method") %>
                        </div>
                      </div>
                      <div class="control-group clearfix">
                        <%= f.label(:state_eq, "Status",class:"control-label") %>
                        <div class="controls">
                          <%= f.select(:state_eq, options_for_select([['pending','pending'], ['confirmed','confirmed'], ['success','success'], ['canceled','canceled'], ['failed','failed']]),:class=>"filter span12",:data=>{:class=>"filter span12"},:prompt=>"Select a Status") %>
                        </div>
                      </div>
                      <div class="control-group">
                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i> Find</button>

                      </div>
                    </div>
                  </div>
                </div>
                  <button class="btn btn-primary sr" type="submit"><i class="icon-search"></i> Find</button>
                </div>
                </div>
            <% end %>
          </div>
          <div class="tableContainer">
            <table class="table table-st letterPressed table-hover">
              <thead>
              <tr>
                <th>User Id</th>
                <th>Order No</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
                <th>Payment Gateway</th>
                <th>Delivery Status</th>
              </tr>
              </thead>
              <tbody>
              <% @orders.each do |order| %>
                  <tr class="<%= class_for_status(order.state) %> letter_pressed">
                    <td>
                      <%= link_to user_order_url(current_user,order), class: "" do %>
                          <%= order.user.id %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to user_order_url(current_user,order), class: "" do %>
                          <%= order.transaction_id %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to user_order_url(current_user,order), class: "" do %>
                          <%= order.item.itemable_type %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to user_order_url(current_user,order), class: "" do %>
                          <span class="price"><%= number_to_currency order.item.amount, unit: "₦" , precision: 0%></span></td>
                      <% end %>
                    <td>
                      <%= link_to user_order_url(current_user,order), class: "" do %>
                          <span class="date"><%= MONTH[order.created_at.month-1]%> &nbsp; <%= order.created_at.day.to_i %>,&nbsp; <%= order.created_at.year.to_i %></span>,&nbsp;<span class="time"><%= format_date_c(order.created_at) %></span></td>
                      <% end %>
                    <td>
                      <%= link_to user_order_url(current_user,order), class: "" do %>
                          <%=   order.state    %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to user_order_url(current_user,order), class: "" do %>
                          <%= order.payment_processor.name %>
                          <% end %>
                     </td>
                     <td>
                        <%= link_to user_order_url(current_user,order), class: "" do %>
                            <%= order.item.state %>
                        <% end %>
                      </td>
              <% end %>
              </tbody>
            </table>
            <%=  paginate("orders","index",class:"pagination")  %>
          </div>
        </div>
      </div>
      <div id="topUp"></div>
      <div id="deposit"></div>
    </div>
      <div class="modal hide" id="OrderModal" role="dialog" >
        <div class="modal-header">
          <div class="inner">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Orders</h3>
          </div>
          </div>
        <div class="content modal-body override">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_contents do %>
    <%= javascript_include_tag "orderss" %>
<% end %>


<script id="progress-tmpl" type="text/x-jquery-tmpl">
  <div class="progressState">
    <div class="alert alert-info">
      Loading...
    </div>
  </div>
</script>

<script id="error-tmpl" type="text/x-jquery-tmpl">
  <div class="progressState">
    <div class="alert alert-error">
      {{html message}}
    </div>
  </div>
</script>
  <script id="default-dialog-tmpl" type="text/x-jquery-tmpl">
    <div class="modal-header">
      <div class="inner">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Orders</h3>
      </div>
    </div>
    <div class="content modal-body override"></div>
  </script>
</div>