<div class="page">
  <div class="row-fluid">
    <%= currently_at_side_nav 'People' %>
    <div class="main span8">
      <div id="people" class="box">
        <%= currently_at_people_nav 'Contacts' %>
        <div class="tab-content">
          <div id="allContacts" class="tab-pane">
            <div class="search-container">
            <form class="search-form row-fluid">
              <div class="control-group">
                <div class="controls input_padding_extra ">
                  <a  role="button" data-toggle="modal" class="tool-button"><i class="icon-search"></i></a>
                  <input type="text" class="span12"  placeholder="Type a contact name">
                  <div class="tool-buttons">
                  <a href="#newContactModal" role="button" data-toggle="modal" class="btn btn-right zero-radius"><i class="icon-plus"></i></a>
                  </div>
                </div>
              </div>
            </form>
            </div>
            <ul class="thumbnails items">
              <li class="item">
              <a href="#contactModal" data-toggle="modal" class="thumbnail zero-radius">
                <div class="avatar">
                  <%= image_tag "avatar.png" %>
                </div>
                <div class="user-info">
                  <h6 class="light-header ui-inline-text">User Name Onyemaechi Okafor Peter Sised fjfjf</h6>
                  <p><i class="icon-phone"></i>080994459595</p>
                </div>
              </a>
            </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Onyemaechi Okafor</h6>
                    <p><i class="icon-phone"></i>080994459595</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Peter Sise</h6>
                    <p><i class="icon-phone"></i>080994459595</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Paul Smith</h6>
                    <p><i class="icon-phone"></i>080994459595</p>
                  </div>
                </a>
              </li>
            </ul>
            </div>
          <div id="groupContacts" class="tab-pane">
            <div class="search-container">
              <form class="search-form row-fluid">
                <div class="control-group">
                  <div class="controls input_padding_extra ">
                    <a  role="button" data-toggle="modal" class="tool-button"><i class="icon-search"></i></a>
                    <input type="text" class="span12"  placeholder="Type a contact name">
                    <div class="tool-buttons">
                      <a href="#groupModal" role="button" data-toggle="modal" class="btn btn-right zero-radius"><i class="icon-plus"></i> new group</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <ul class="thumbnails items">
              <li class="item">
                <a href="#contactModal" data-toggle="modal" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Onyemaechi Okafor </h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Onyemaechi Okafor</h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Peter Sise</h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
              <li class="item">
                <a href="#" class="thumbnail zero-radius">
                  <div class="avatar">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header ui-inline-text">Paul Smith</h6>
                    <p><i class="icon-users"></i><span class="label label-success">20</span> members</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_contents do %>
    <%= javascript_include_tag "people" %>
<% end %>

