<%= simple_form_for(order, :html =>{:id=>"deposit-form",:class=>"hide white form-horizontal letterPressed"}, :url =>   deposit_user_wallets_path(current_user)) do |f| %>
   <div class="field-wrap">
    <div class="control-group">
      <%= f.fields_for :item do|i|   %>
          <%=i.label :amount,:class=>"control-label",:required =>false do  %>
              <i class="icon-money"></i> Amount (₦)
          <% end %>
          <%= i.input :amount, :label =>false,:wrapper_html => { :class => 'slider-input controls-row controls input_padding_extra' },:input_html => {:id=>"slider-range-min",:klass=>"span8", :value=>"10000", :min=>"5000", :max=>"100000" ,:step=>"5000",:type=>"number",:class=>"span4",:data=>{:units=>"naira"}} %>
      <% end %>
    </div>


     <div class="control-group <%= field_class order,:payment_processor_id %>">
       <%=f.label :name,:class=>"control-label",:required =>false do  %>
           <i class="icon-credit-card"></i> Payment Method
       <% end %>
       <div class="controls input_padding_extra">
         <%= f.select(:payment_processor_id, options_from_collection_for_select_with_attributes(wallet_payment_methods, 'id', 'name', 'class', 'klass'),{:prompt => "Choose a Payment Method"}, {:id=>"payment_method",:data=>{"class"=>"span8"},:class=>"span8 selectMenu"}) %>
         <%= error_html order,:payment_processor_id %>
       </div>
     </div>

    <div class="control-group">
      <div class="controls controls-row input_padding_extra ">
        <button class="btn btn-warning btn-large pay" data-loading-text="loading.." type="button" >Deposit :0</button>
      </div>
    </div>
    </div>
<% end %>
