<div class="page">
  <div class="row-fluid">
    <%= currently_at_side_nav 'Quick Top Up' %>
    <div class="main span8">
      <div id="topUp" class="">
        <div id="quickTopUp" class="">
          <div class="top-up-wrap box">
            <form class="form-horizontal letterPressed">
              <div class="control-group">
                <label class="control-label" for="inputPassword"><i class="icon-mobile"></i> Phone Number</label>
                <div class="controls controls-row input_padding_extra">
                  <select class="networkChoice " data-class="span4" placeholder="carrier">
                    <option value="4" >Airtel</option>
                    <option value="1">Etisalat</option>
                    <option value="3">Glo</option>
                    <option value="2">MTN</option>
                  </select>
                  <input type="text" placeholder="080xxxxxxxxx" class="span8"/>
                </div>
              </div>
              <div class="selections">
                <div class="control-group">
                  <label class="control-label" for="inputPassword"><i class="icon-money"></i> Amount</label>
                  <div class="controls controls-row input_padding_extra ">
                    <select  class="amountSelect span12">
                      <option>100</option>
                      <option>200</option>
                      <option>300</option>
                      <option>400</option>
                      <option>500</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword"><i class="icon-key"></i> Password</label>
                <div class="controls controls-row input_padding_extra ">
                  <input type="password" placeholder="password" class="span12"/>
                </div>
              </div>
              <div class="control-group">
                <div class="controls controls-row input_padding_extra ">
                  <button class="btn btn-warning btn-large" type="button" ><i class="icon-send"></i> Top Up : ₦60,000</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% content_for :javascript_contents do %>
      <%= javascript_include_tag "top_up" %>
  <% end %>
  <div class="modal hide" id="editModal" role="dialog" aria-labelledby="contactPicker" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="contactHeader">
        <div class="icon">
          <div class="avatar">
            <%= image_tag "avatar.png" %>
          </div>
        </div>
        <div class="info indent">
          <h3>Paul Adeferati</h3>
          <p class="hint">08099447050</p>
        </div>
      </div>

    </div>
    <div class="content modal-body override">
      <form class="overrideContact wrap">
        <div class="row-fluid">

          <div class="message-box clearfix control-group">
            <label class="control-label" for="inputPassword"><i class="icon-envelope-alt"></i> Message</label>
            <span class="counter-box">160</span>
            <div class="input-wrap message-box">
              <div class="controls input_padding_extra ">
                <textarea class="input"></textarea>
              </div>
            </div>
          </div>
          <div class="custom-select-wrap input-prepend span12">
            <span class="add-on "><i class="icon-money"></i> Amount</span>
            <div class="custom-select-input-wrap">
              <select  class="amountSelect span12">
                <option>100</option>
                <option>200</option>
                <option>300</option>
                <option>400</option>
                <option>500</option>
              </select>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button class="btn rt" data-dismiss="modal" aria-hidden="true"><i class="icon-double-angle-right"></i></button>
      <button class="btn btn-primary"><i class="icon-ok"></i> Done</button>
      <div class="shadow-top-wrap">
        <div class="shadow-bottom"></div>
      </div>
    </div>
  </div>
  <div class="modal hide" id="contactPicker" role="dialog" aria-labelledby="contactPicker" aria-hidden="true">
    <div class="modal-header">
      <div class="inner">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="contactHeader">
          <div class="icon">
            <i class="icon-users"></i>
          </div>
          <div class="info">
            <h3>Pick Contact</h3>
            <p class="hint">0 selected</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content modal-body">
      <div class="contactPickerWrap">
        <div class="contactPickerHeader lightPadded">
          <form class="search-form row-fluid">
            <div class="control-group">
              <div class="controls input_padding_extra ">
                <a href="#contactPicker" role="button" data-toggle="modal" class="tool-button"><i class="icon-search"></i></a>
                <input type="password" class="span12" id="inputSearchContact" placeholder="Type a contact name">
              </div>
              <div class="shadow-bottom-wrap">
                <div class="shadow-top"></div>
              </div>
            </div>
          </form></div>
        <div class="contactContent">
          <ul class="items contactItems letterPressed">
            <li>
              <a>
                <div class="inner">
                  <div class="avatar small">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header">User Name</h6>
                    <p><i class="icon-phone"></i>080994459595</p>
                  </div>

                  <div class="toolBar">
                    <input type="checkbox"/>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a>
                <div class="inner">
                  <div class="avatar small">
                    <%= image_tag "avatar.png" %>
                  </div>
                  <div class="user-info">
                    <h6 class="light-header">User Name</h6>
                    <p><i class="icon-phone"></i>080994459595</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn rt" data-dismiss="modal" aria-hidden="true"><i class="icon-double-angle-right"></i></button>
      <button class="btn btn-primary"><i class="icon-ok"></i> Done</button>
      <div class="shadow-top-wrap">
        <div class="shadow-bottom"></div>
      </div>
    </div>
  </div>
</div>

