<%= simple_form_for(top_up, :html =>{:id=>"transferForm",:class=>"hide white form-horizontal letterPressed"}, :url =>   create_phone_number_user_top_ups_url(current_user)) do |f| %>
    <div class="field-wrap">
      <%= simple_fields_for phone_number do|i|   %>
            <div class="control-group <%= field_class phone_number,:carrier_id %>">
            <%=i.label :carrier_id,:class=>"control-label",:required =>false do  %>
                  <i class="icon-signal"></i> Carrier</label>
              <% end %>
                <div class="controls input_padding_extra">
                  <%=i.input :carrier_id, :collection => Carrier.all(:order => 'name'),:label_method=>:name,:value_method=>:id, :prompt => "Select Operator",:label =>false,:error=>false,:wrapper=>false,:input_html => {:data=>{"class"=>"span12"},:class=>"selectMenu span12"} %>
                  <%= error_html phone_number,:carrier_id %>
                </div>
              </div>
          <div class="control-group message-wrap <%= field_class phone_number,:number %>">
            <%=i.label :carrier_id,:class=>"control-label",:required =>false do  %>
                <i class="icon-mobile"></i> Phone Number</label>
            <% end %>
            <div class="controls input_padding_extra">
              <%= i.input :number, :label =>false,:error=>false,:wrapper=>false,:input_html => {placeholder:"080xxxxxxxx",:class=>"phoneNumberInput span12"} %>
              <%= error_html phone_number,:number %>
            </div>
          </div>
      <% end %>
      <%= render partial:"top_ups/form",locals: {top_up:top_up} %>
    </div>
<% end %>